name: Run Laptop Price Tracker (Cloud)
on:
  schedule:
    - cron: '0 2 * * *' # Chạy lúc 00:00 UTC (9h sáng VN)
  workflow_dispatch:    # Nút bấm chạy tay

jobs:
  scrape_job:
    runs-on: ubuntu-latest  # QUAN TRỌNG: Chạy trên Server Ubuntu của GitHub
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Libraries
        run: |
          pip install selenium webdriver-manager gspread oauth2client google-auth

      - name: Create Service Account File
        # Tạo file json từ Secret
        run: echo '${{ secrets.GDRIVE_CREDS }}' > service_account.json

      - name: Run Script
        run: python main.py
